# Note: Copy these variables in your .env file

# Change your username and password here
USER_EMAIL=admin@example.com
USER_PASSWORD=password123

# Refer to readme to generate auth secret
AUTH_SECRET=generate-with-openssl-rand-base64

OPENAI_API_KEY=your-openai-api-key-here
