services:
  app:
    container_name: jobsync_app
    build:
      context: .
      dockerfile: Dockerfile
    image: jobsync_app_image
    ports:
      - "3000:3000"
    environment:
      # Please do not forget to create and update your .env file
      - NODE_ENV=production
      - DATABASE_URL=file:/data/dev.db
      - USER_EMAIL=${USER_EMAIL}
      - USER_PASSWORD=${USER_PASSWORD}
      - AUTH_SECRET=${AUTH_SECRET}
      - NEXTAUTH_URL=http://localhost:3000
      - AUTH_TRUST_HOST=http://localhost:3000
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./jobsyncdb/data:/data
