services:
  app:
    container_name: jobsync_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/data/dev.db
      - AUTH_SECRET=${AUTH_SECRET:-}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - AUTH_TRUST_HOST=${AUTH_TRUST_HOST}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}
      - RAPIDAPI_KEY=${RAPIDAPI_KEY}
    volumes:
      - ./jobsyncdb/data:/data
    restart: unless-stopped
